<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.admin.AdminMapper">
    <insert id="productIns">
        insert into product
        SET p_title = #{title}
        , p_name = #{name}
        , p_price = #{price}
        , p_quantity = #{quantity}
        , description = #{description}
        , allergy = #{allergy}
        , is_delete = 0
    </insert>

    <select id="productAll">
        select p_title title, p_name name, p_price price, p_quantity quantity, description
        from product
        order by product_id desc
        LIMIT #{startIdx}, #{rowLen}
    </select>

    <select id="getProduct">
        SELECT A.p_title title, A.p_name name, A.p_price price, A.p_quantity quantity, A.description,
        B.img, B.thumbnail
        from product A
        INNER JOIN product_img B
        ON A.product_id = B.product_id
        WHERE A.product_id = #{product_ID};
    </select>

    <update id="updAdminProduct">
        update product
        SET p_title = #{title}
        , p_name = #{name}
        , p_price = #{price}
        , p_quantity = #{quantity}
        , description = #{description}
        , sale_volumn = #{saleVolume}
        , allergy = #{allergy}
        , created_at = current_timestamp()
        where product_id = #{productId}
    </update>

    <update id="insThumbnail">
        insert into product_img
        (product_id,img)
        values
        <foreach collection="img" item="item" separator=",">
            (#{productId},#{item})
        </foreach>
    </update>

    <update id="changeAdminProduct">
        update product
        SET p_title = #{title}
        , p_name = #{name}
        , p_price = #{price}
        , p_quantity = #{quantity}
        , description = #{description}
        , sale_volumn = #{saleVolume}
        , allergy = #{allergy}
        , updated_at = current_timestamp()
        where product_id = #{productId}
    </update>

    <select id="updProductInfo">
        select p_title title, p_name name, p_price price, p_quantity quantity, description,
        sale_volumn saleVolume
        from product
        where product_iD = #{productId}
    </select>

    <select id="updProductInfoCate">
        SELECT
        cate_detail_id
        FROM
        product_category_relation
        WHERE
        product_id = #{productId}
    </select>


    <insert id="categorySel">
        INSERT INTO product_category_relation (product_id, cate_id, cate_detail_id)
        VALUES
        <foreach collection="cateDetail" item="detailId" separator=",">
            (#{productId}, #{category}, #{detailId})
        </foreach>
    </insert>

    <update id="delAdminProduct">
        update product
        SET is_delete = 1
        where product_id = #{productId}
    </update>






    <insert id="insPk" useGeneratedKeys="true" keyProperty="productId">
        insert into product
        (p_title,p_name,p_price,p_quantity,description,created_at,updated_at)
        values
        ('','',0,0,'',null,null);
    </insert>


    <insert id="insWebEditorImg" useGeneratedKeys="true"  keyProperty="pImgId">
        insert into product_img
        (product_id,img)
        values
        (#{productId},#{randomName})
    </insert>

    <insert id="insWebEditorImgList" useGeneratedKeys="true" keyProperty="pImgId">
        insert into product_img
        (product_id,img)
        values
        (#{productId},#{randomName})

    </insert>

    <update id="updProduct">
        update product
        set p_title=#{title}
        ,p_name=#{name}
        ,p_price=#{price}
        ,p_quantity=#{quantity}
        ,description=#{description}
        ,allergy=#{allergy}
        , category = #{category}
        , cateDetail = #{category_detail};
        where product_id=#{productId}
    </update>

    <delete id="delImg">
        delete from product_img
        where product_id=#{productId}
    </delete>


    <delete id="delProduct">
        delete from product
        where product_id=#{productId}
    </delete>

    <update id="insImgTest">
        insert into product_img
        set product_id = #{productId}
    </update>

    <insert id="updPicTest">
        insert into product_img
        set img = #{img},
        product_id = #{productId}
    </insert>
    <delete id="delWebEditorCancel">
        delete from product_img
        where p_img_id=#{pImgId}
    </delete>


    <select id="selProductImgPk">
        select product_id productId,img
        from product_img
        where p_img_id=#{pImgId}
    </select>
</mapper>