<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.buy.BuyMapper">
    <insert id="InsBuy" useGeneratedKeys="true" keyProperty="orderId">

    INSERT INTO order_list
        SET iuser = #{iuser},
        payment = #{payment},
        shipment = #{shipment},
        call_user = #{callUser},
        request = #{request},
        reciever = #{receiver},
        address = #{address},
        address_detail = #{addressDetail}
    </insert>

    <insert id="InsBuyDetail">

        INSERT INTO order_detail
        SET order_id = #{orderId},
        product_id = #{productId},
        COUNT = #{count},
        total_price = #{totalPrice}

    </insert>

    <update id="updProduct">
        UPDATE product
        SET p_quantity = p_quantity - #{quantity},
        sale_volumn = sale_volumn + #{saleVolumn}
        WHERE product_id = #{productId}

    </update>

    <delete id="delOrderbasket">
        DELETE FROM order_basket
        WHERE cart_id = #{cartId}
    </delete>

    <update id="addpoint">
        UPDATE user
        SET POINT = POINT + #{point}
        WHERE iuser = #{iuser}
    </update>

    <update id="removepoint">
        UPDATE user
        SET POINT = POINT - #{point}
        WHERE iuser = #{iuser}
    </update>
    
    <select id="selorderproduct">
        SELECT B.product_id productId,D.thumbnail thumbnail, C.p_title title,C.p_name name, C.p_price price, B.`count` count , B.total_price totalPrice
        FROM order_list A
        INNER JOIN order_detail B
        ON A.order_id = B.order_id
        INNER JOIN product C
        ON C.product_id = B.product_id
        inner JOIN product_img D
        ON C.product_id = D.product_id
        WHERE B.order_id = #{orderId}
    </select>

    <select id="selorder">
        SELECT reciever, address,address_detail addressDetail,call_user phoneNm, request
        FROM order_list
        WHERE order_id = #{orderId};
    </select>


</mapper>