<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.buy.BuyMapper">
    <insert id="InsBuy" useGeneratedKeys="true" keyProperty="orderId">

    INSERT INTO order_list
    SET iuser = #{iuser},
    payment = #{payment},
    shipment = #{shipment},
    call_user = #{call_user},
    request = #{request},
    reciever = #{reciever}

    </insert>

    <insert id="InsBuyDetail">

        INSERT INTO order_detail
        SET order_id = #{orderId},
        product_id = #{productId},
        COUNT = #{count},
        total_price = #{totalPrice}

    </insert>

    <update id="updProduct">
        UPDATE product
        SET p_quantity = p_quantity - #{quantity},
        sale_volumn = sale_volumn + #{saleVolumn}
        WHERE product_id = #{productId};

    </update>

    <delete id="delOrderbasket">
        DELETE FROM order_basket
        WHERE cart_id = #{cartId};
    </delete>

    <update id="userpoint">
        UPDATE user
        SET POINT = POINT + #{point}
        WHERE iuser = #{iuser};
    </update>
    
    <select id="sel">


    </select>


</mapper>