<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.cate.CateMapper">


    <select id="cateSelLevelmaxPage">
        SELECT count(distinct A.product_id)
        FROM product_category_relation A
        left JOIN product_img B
        ON A.product_id=B.product_id
        left JOIN product C
        ON A.product_id=C.product_id
        LEFT JOIN product_allergy D
        ON A.product_id=D.product_id
        WHERE A.cate_id=#{cateId} and C.p_quantity!=0 AND C.is_delete=0 and B.thumbnail is not null
        <if test="cateDetailId !=null and cateDetailId!='' ">
          and  A.cate_detail_id=#{cateDetailId}
        </if>
        <!--
        <if test="strallergy!=''">
            AND C.product_id NOT IN(SELECT D.product_id FROM product_allergy WHERE D.allergy_id in(${strallergy}))
        </if>
        -->
    </select>

    <select id="cateSelLevel">
        SELECT A.product_id productId,B.thumbnail<!--,C.p_title title-->,C.p_price price,C.p_name name,C.p_quantity quantity,C.sale_volumn volumn
        FROM product_category_relation A
        left JOIN product_img B
        ON A.product_id=B.product_id
        left JOIN product C
        ON A.product_id=C.product_id
        LEFT JOIN product_allergy D
        ON A.product_id=D.product_id
        WHERE A.cate_id=#{cateId} and C.p_quantity!=0 AND C.is_delete=0 and B.thumbnail is not null
        <if test="cateDetailId !=null and cateDetailId!='' ">
            AND A.cate_detail_id=#{cateDetailId}
        </if>
        <!--
        <if test="strallergy!=''">
            AND C.product_id NOT IN(SELECT D.product_id FROM product_allergy WHERE D.allergy_id in(${strallergy}))
        </if>
        -->
        group by A.product_id
        ORDER BY C.created_at desc
        LIMIT #{page},#{row}
    </select>



    <select id="selcate">
        select cate_id cateId,cate_name cateName from category
    </select>

    <select id="selCateList">
        SELECT A.cate_detail_id cateDetailId,B.cate_name cateName
        FROM cate_view A
        INNER JOIN cate_detail B
        ON A.cate_detail_id=B.cate_detail_id
        WHERE A.cate_id=#{cateId}
    </select>


    <select id="cateSelDetail">
        select cate_name cateName
        from category
        where cate_id = {cateId}
    </select>

</mapper>