<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.main.MainMapper">

    <select id="mainSelView">
    SELECT A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
    from product A
    left join product_img B
    ON A.product_id=B.product_id
    LEFT JOIN product_allergy C
    ON A.product_id=C.product_id
    where A.p_quantity!=0 AND A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
    group by A.product_id
    ORDER BY A.created_at desc
    LIMIT #{startIdx},#{row};
    </select>

    <select id="maxPaige">
        SELECT count(A.product_id)
        FROM product A
        left join product_allergy B
        on A.product_id=B.product_id
        where A.p_quantity!=0 AND A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
    </select>

<!--
    <select id="random">
        select A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        group by A.product_id
        ORDER BY RAND()
        limit 5
    </select>
-->

    <select id="bestSell">
        select A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_allergy C
        ON A.product_id=C.product_id
        where A.p_quantity!=0 and A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
        group by A.product_id
        order by A.sale_volumn desc,rand()
        limit 8
    </select>


    <select id="bestSellAll">
        select A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_allergy C
        ON A.product_id=C.product_id
        where A.p_quantity!=0 and A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>

        group by A.product_id
        order by A.sale_volumn desc
        limit #{startIdx},#{row}
    </select>

    <select id="bestSellAllMaxPage">
        select COUNT(distinct A.product_id)
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_allergy C
        ON A.product_id=C.product_id
        where A.p_quantity!=0 and A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
        order by A.sale_volumn DESC;
    </select>
    
    
    <select id="birth" resultType="int">
        SELECT TIMESTAMPDIFF(MONTH, birthday, date(NOW()))
        FROM user
        WHERE iuser=#{iuser}
    </select>
<!--
    <select id="birthRecommend">
        select A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_category_relation C
        ON A.product_id=C.product_id
        WHERE C.cate_id=#{cate}
        group by A.product_id
        order by A.sale_volumn desc,rand()
        LIMIT #{startIdx},#{row}
    </select>

    <select id="birthMaxPage">
        select count(distinct A.product_id)
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_category_relation C
        ON A.product_id=C.product_id
        WHERE C.cate_id=#{cate}
        order by A.sale_volumn desc,rand()
    </select>
-->

    <select id="birthRecommendFilter">
        select A.product_id productId,A.p_title title,A.p_name name,A.p_price price,A.p_quantity quantity,B.thumbnail thumbnail,A.sale_volumn volumn
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_category_relation C
        ON A.product_id=C.product_id
        LEFT JOIN product_allergy D
        ON A.product_id=D.product_id
        WHERE C.cate_id=#{cate} and A.p_quantity!=0 and A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
        group by A.product_id
        order by A.sale_volumn desc,rand()
        LIMIT #{row}
    </select>


    <select id="birthRecommendFilterMaxPaige">
        select COUNT(distinct A.product_id)
        from product A
        left join product_img B
        ON A.product_id=B.product_id
        LEFT JOIN product_category_relation C
        ON A.product_id=C.product_id
        LEFT JOIN product_allergy D
        ON A.product_id=D.product_id

        WHERE C.cate_id=#{cate} and A.p_quantity!=0 and A.is_delete=0
        <if test="strallergy!=''">
            AND A.product_id NOT IN(SELECT product_id FROM product_allergy WHERE allergy_id in(${strallergy}))
        </if>
        order by A.sale_volumn desc,RAND()
    </select>

</mapper>