<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.mypage.MypageMapper">

    <select id="Orderlist">
        SELECT A.order_id orderId,DATE_FORMAT(A.created_at,'%Y-%m-%d') createdAt,C.p_name name,D.thumbnail thumbnail,B.total_price price,A.shipment shipment,COUNT(A.order_id)-1 count
        FROM order_list A
        INNER JOIN order_detail B
        ON A.order_id = B.order_id
        INNER JOIN product C
        ON B.product_id = C.product_id
        LEFT JOIN product_img D
        ON D.product_id = C.product_id
        where iuser = #{iuser}
        <if test="month !=0">
            and A.created_at  BETWEEN DATE_ADD(NOW(),INTERVAL-#{month} MONTH) AND NOW()
        </if>
        GROUP BY A.order_id
        ORDER BY A.created_at DESC
    </select>

    <select id="OrderlistDetail">
        SELECT B.product_id productId,COALESCE(D.thumbnail, "이미지없음")thumbnail,C.p_title title,C.p_name name, C.p_price price, B.`count` count , B.total_price totalPrice, DATE(A.created_at) createdAt
        FROM order_list A
        left JOIN order_detail B
        ON A.order_id = B.order_id
        left JOIN product C
        ON C.product_id = B.product_id
        left JOIN product_img D
        ON C.product_id = D.product_id
        WHERE A.order_id =  #{orderId}
        AND A.cancel = 0
    </select>

    <select id="selUser">
        SELECT reciever, address,address_detail addressDetail,call_user phoneNm, request
        FROM order_list
        WHERE order_id = #{orderId};
    </select>


    <select id="profile">
        SELECT A.email email,A.image image,A.name name,A.birthday birthday,A.mobile_nb mobileNb,A.address address,A.address_detail addressDetail,A.nick_nm nickNm,A.point point
        FROM user A
        WHERE iuser = #{iuser}
    </select>

    <update id="Updprofile">
        UPDATE user
        SET nick_nm = #{nickNm},
        password = #{password},
        mobile_nb = #{phoneNumber},
        birthday= #{birthday},
        address = #{address},
        address_detail = #{addressDetail}
        WHERE iuser = #{iuser};
    </update>

    <select id="SelNickNm">
        SELECT nick_nm nickNm FROM user
        WHERE nick_nm =#{nickNm}
    </select>


    <delete id="delUser">
        delete from user
        where iuser =#{iuser}
    </delete>



</mapper>