<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.product.ProductMapper">

    <select id="selProduct">
        select p_title title, p_name name, p_price price, p_quantity quantity, description from product
        where product_id=#{productId}
    </select>

    <insert id="postReview">
        insert into review
        SET iuser = #{iuser}
        , product_id = #{productId}
        , ctnt = #{ctnt}
    </insert>

    <select id="selReview">
        SELECT iuser, ctnt
        from review
        where product_id = #{productId}
    </select>

</mapper>