<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.product.ProductMapper">

    <select id="selProduct">
        SELECT A.p_title title, A.p_name name, A.p_price price, A.p_quantity quantity,
        A.description description, D.allergy_name allergy, C.cate_id step
        from product A
        left JOIN product_category_relation B
        ON A.product_id = B.product_id
        left JOIN category C
        ON C.cate_id = B.cate_id
        left JOIN allergy D
        ON A.allergy = D.allergy_id
        WHERE A.product_id = #{productId};
    </select>

    <select id="selProductImg">
        SELECT A.product_id, B.img
        FROM product A
        inner JOIN product_img B ON A.product_id = B.product_id
        WHERE A.product_id = #{productId}
    </select>

    <select id="selProductthumbnail">
        SELECT A.product_id, B.thumbnail thumbnail
        FROM product A
        LEFT JOIN product_img B
        ON A.product_id = B.product_id
        where A.product_id = #{productId}
    </select>



    <insert id="postReview">
        insert into review
        SET iuser = #{iuser}
        , product_id = #{productId}
        , ctnt = #{ctnt}
    </insert>

    <select id="selReview">
        SELECT iuser, ctnt
        from review
        where product_id = #{productId}
    </select>

</mapper>