<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.search.SearchMapper">

    <select id="selproduct">
        SELECT  A.product_id productid,A.p_name NAME,D.thumbnail thumbnail,A.p_price price
        FROM product A
        left JOIN product_allergy B
        ON A.product_id = B.product_id
        left JOIN allergy C
        on C.allergy_id = B.allergy_id
        LEFT JOIN product_img D
        ON D.product_id = A.product_id
        WHERE p_name REGEXP #{msg}
        AND A.p_quantity !=0
        AND A.is_delete = 0
        GROUP BY A.product_id
        LIMIT #{startIdx}, #{row}
    </select>

    <select id="selfilter">
        SELECT A.product_id productid,A.p_name NAME,D.thumbnail thumbnail,A.p_price price
        FROM product A
        left JOIN product_allergy B
        ON A.product_id = B.product_id
        left JOIN allergy C
        on C.allergy_id = B.allergy_id
        LEFT JOIN product_img D
        ON D.product_id = A.product_id
        LEFT JOIN product_allergy E
        ON E.allergy_id = B.allergy_id
        WHERE p_name REGEXP #{msg}
        AND A.p_quantity !=0
        AND A.is_delete = 0
        <if test="allergy!=''">
        AND E.allergy_id NOT IN (${allergy})
        </if>
        GROUP BY A.product_id
        <choose>
            <when test="sorter == 0">
                ORDER BY A.sale_volumn DESC
            </when>
            <when test="sorter == 1">
                ORDER BY A.sale_volumn
            </when>
            <when test="sorter == 2">
                ORDER BY A.p_price DESC
            </when>
            <when test="sorter == 3">
                ORDER BY A.p_price
            </when>
        </choose>
        LIMIT #{startIdx}, #{row}
    </select>

    <select id="maxpage">
        SELECT count(A.product_id)
        FROM product A
        left join product_allergy B
        on A.product_id=B.product_id
        where A.p_quantity!=0 AND A.is_delete=0
        <if test="strallergy!=''">
            and B.allergy_id not in(#{strallergy})
        </if>

    </select>


</mapper>