<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.search.SearchtMapper">

    <select id="selproduct">
        SELECT A.product_id productid,A.p_name NAME,D.thumbnail thumbnail,A.p_price price
        FROM product A
        left JOIN product_allergy B
        ON A.product_id = B.product_id
        left JOIN allergy C
        on C.allergy_id = B.allergy_id
        LEFT JOIN product_img D
        ON D.product_id = A.product_id
        WHERE p_name REGEXP #{msg}
        AND A.p_quantity != 0
        ORDER BY A.sale_volumn DESC
    </select>

    <select id="selproductPrice">
        SELECT A.product_id productid,A.p_name NAME,D.thumbnail thumbnail,A.p_price price
        FROM product A
        left JOIN product_allergy B
        ON A.product_id = B.product_id
        left JOIN allergy C
        on C.allergy_id = B.allergy_id
        LEFT JOIN product_img D
        ON D.product_id = A.product_id
        WHERE p_name REGEXP #{msg}
        AND A.p_quantity != 0
        ORDER BY A.price DESC
    </select>

</mapper>