<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.sign.SignMapper">
    <select id="findPassword">
        select email mail, mobile_nb mobileNb
        from user
        where email = #{mail}
    </select>

    <select id="findUserId">
        select mobile_nb, email,
        from user
        where mobile_nb = #{mobile_nb}
        limit 1
    </select>

    <update id="updPassword">
        update user
        SET password = #{pw}
        where iuser = #{iuser}
    </update>


    <select id="emailCheck">
        select email from user
        where email=#{email}
    </select>

    <select id="SelNickNm">
        SELECT nick_nm nickNm FROM user
        WHERE nick_nm =#{nickNm}
    </select>
</mapper>