<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.babyfood.user.UserMapper">

    <select id="selUser">
        SELECT iuser , email, password, image, name, birthday, mobile_nb mobileNb, created_at createdAt
        , role,zip_code zipCode, address, address_detail addressDetail, nick_nm nickNm, point
        FROM user
        order by iuser asc
        LIMIT #{startIdx}, #{rowLen}
    </select>

    <update id="updUser">
        update user
        <set>
            <if test="nickNm != null and nickNm != '' ">nick_nm = #{nickNm},</if>
            <if test="mobileNb != null and mobileNb != '' ">mobile_nb = #{mobileNb},</if>
            <if test="birthday != null and birthday != '' ">birthday = #{birthday},</if>
            <if test="zipCode != null and zipCode != '' ">zip_code = #{zipCode},</if>
            <if test="address != null and address != '' ">address = #{address},</if>
            <if test="addressDetail != null and addressDetail != '' ">address_detail = #{addressDetail}</if>
        </set>
        where email = #{email}
    </update>

    <update id="updPicUser">
        update user
        set image = #{image}
        where email = #{email}
    </update>

    <update id="updPointUser">
        update user
        set point = #{point}
        where email = #{email}
    </update>

    <delete id="delUser">
        delete
        from user
        where email = #{email}
    </delete>

    <delete id="deltoken">
        delete
        from user_token
        where iuser = #{iuser}
    </delete>




</mapper>